@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Poppins:wght@400;500;600;700&family=Rubik+Wet+Paint&family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
}
.hero{
    height: 100vh;
    width: 100%;
    background: #edf2fc;
    font-family: 'Poppins', sans-serif;
    position: relative;
}
.logo{
    width: 100px;
    cursor: pointer;
}
nav{
    width: 80%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #606163;
    font-weight: 600;
    transition: all .4s ease;
}
nav ul li a:hover{
    color: #ff4321;

}
.info{
    margin-left: 10%;
    margin-top: 15%;
}
.info h1{
    font-size: 70px;
    margin-bottom: 20px;
    color: #212121;
    font-family: 'Ubuntu', sans-serif;
}


span{
    color: #ff4321;
}
.info p{
    color: #606163;
    line-height: 22px;
    font-family: 'Poppins', sans-serif;


}
.scroll-down{
    color: #212121;
    position: absolute;
    font-size: 4em;
	bottom: 30px;
	left: 30%;
	z-index: 2;
	display: inline-block;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	text-decoration: none;
    animation:3s infinite bounce; 


}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-30px);} 
    60% {transform: translateY(-15px);} 
 } 
.social a{
    font-size: 25px;
    color: #212121;
    margin: 0 10px;
}
.social{
    margin-top: 15px;
    margin-left: 300px;
}
.social a  i{
    transition: all .5s ;
}
.social a  i:hover{
    transform: rotate(360deg) scale(1.2);
    color: #ff4321;

}
.img-box{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}
.img-box img{
    height: 100%;

    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s,left 1s;
    cursor: pointer;

}
.img-box .main-img{
    animation: 6s  slidein;

}

  @keyframes slidein {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-50%); }
}

.img-box:hover .back-img{
    bottom: 40px;
}
.img-box:hover .main-img{
    left: 54%;
}

/* preloader styles */
#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: #edf2fc url(./portfolio_site_img/fluid-loader.gif) no-repeat center;
    z-index: 1000;
}
 

#loader {
    z-index: 1001;
}

.loaded #loader-wrapper {
    transform: translateY(-100%);
    transition: all 0.3s 1s ease-out;
}

.loaded #loader {
    opacity: 0;
    transition: all 0.3s ease-out;
}
